<div class="w-full flex justify-center">
  <div
    class="w-3/4 bg-[url('https://i.pinimg.com/originals/b3/2e/fe/b32efe78a99c7feb9cd717202a87c784.jpg')] bg-cover bg-center rounded-lg"
  >
    <div class="w-3/4 pl-10 my-20">
      <h1 class="text-8xl font-extrabold mb-10">COFFEBUCKS</h1>
      <p class="text-3xl mb-5">
        Things are changing, but we’re still here for you
      </p>
      <p class="text-3xl mb-5">
        We have temporarily closed our in-store cafes, but select grocery and
        drive-thru locations remaining open. Waysbucks Drivers is also available
      </p>
      <p class="text-3xl">Let’s Order...</p>
    </div>
  </div>
</div>
