<div class="w-full h-screen flex justify-center items-center">
  <div class="w-1/4">
    <h1 class="text-3xl font-bold text-[#563721] mb-5">Register</h1>
    <form (ngSubmit)="register()">
      <div class="flex flex-col gap-3 mb-3">
        <input
          [(ngModel)]="formDataRegister.email"
          name="email"
          type="email"
          class="border-2 border-[#563721] w-full rounded-md px-2 py-1"
          placeholder="Email"
        />
        <input
          [(ngModel)]="formDataRegister.password"
          name="password"
          type="password"
          class="border-2 border-[#563721] w-full rounded-md px-2 py-1"
          placeholder="Password"
        />
        <input
          [(ngModel)]="formDataRegister.fullname"
          name="fullname"
          type="text"
          class="border-2 border-[#563721] w-full rounded-md px-2 py-1"
          placeholder="Fullname"
        />
        <button
          class="border-2 border-[#563721] bg-[#563721] text-white py-1 px-3 rounded-md hover:bg-[#bb9479] ease-in-out duration-300"
          type="submit"
        >
          Register
        </button>
      </div>
    </form>
    <p>
      Already have an account ?
      <a href="login" class="text-[#563721] border-b border-b-[#563721]"
        >Klik Here</a
      >
    </p>
  </div>
</div>
